@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .input {
    @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
  }

  .showMenu {
    @apply bg-white block fixed items-center top-[90px] left-0 right-0 w-[90%] h-max my-0 mx-auto rounded-2xl shadow-2xl text-center transition-all duration-300 z-[1000] lg:block;
  }

  .hideMenu {
    @apply bg-white block fixed items-center top-[90px] left-0 right-[-500%] w-[90%] h-max my-0 mx-auto rounded-2xl shadow-2xl text-center transition-all duration-300 z-[1000] lg:block;
  }

  .scrollBtn {
    @apply fixed flex justify-center items-center h-[43px] w-[43px] bg-coral-red right-[30px] bottom-[10px] leading-[45px] text-white z-10 text-2xl rounded-full cursor-pointer opacity-0 pointer-events-none transition
  }

  .scrollBtnActive {
    @apply fixed flex justify-center items-center h-[43px] w-[43px] bg-coral-red right-[30px] bottom-[30px] leading-[45px] text-white z-10 text-2xl rounded-full cursor-pointer opacity-100 pointer-events-auto transition
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }
}
